@import '~antd/dist/antd.css';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

/* .content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
} */

.row {
  padding: 15px;
  border-bottom: 1px solid #333;
}

.row p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 0;
}

.row p.completed {
  text-decoration: line-through;
}

.todo-btn {
  background: none;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 12px;
}

.create {
  margin: 20px;
}

.create input {
  border: 0.5px solid #333;
  width: 100%;
  padding: 7px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #333;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #333;
}